body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 640px;
    border: solid black;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 20px;
    margin-right: 20px;
    text-align: center;
}

li {
    margin-top: 10px;
    padding: 5px;
    text-align: left;
}

li:hover {
    border: solid rgb(0, 204, 109);
    border-radius: 10px;
    color: #fff;
}

.div-input {
    margin: auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
}

.classes {
    border-radius: 5px;
}

.btnprimary,
.btnsecond,
.btnremove {
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; 
}

.btnprimary {
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; 
    border: none;
    padding: 8px 12px;
    background-color: #08c;
}

.btnprimary:hover {
    background-color: #f1f1f1;
}

.btnsecond,
.btnremove {
    align-self: flex-start; 
    margin-right: auto; 
    margin-left: 5px; 
}

.btnsecond {
    background-color: rgb(0, 204, 109);
    color: #fff;
}

.btnremove {
    background-color: #35dc38;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 5px; 
    transition: background-color 0.3s ease;
    display: block;
    display: inline-block;
    margin-left: 10px;
    
    
    
}

.btnprimary:hover,
.btnsecond:hover {
    background-color: #fff;
    color: #08c;
}

.btnremove:hover {
    background-color: #23c880;
}
